html{
    scroll-behavior: smooth;
}
body {
  margin: 0;
      color: rgb(68, 68, 68);
}

label {
    font-weight: bold;
}

/* Login Section */
#loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userEmailField{
    margin-bottom: 1rem;
}

#addressSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginSubmitBtn{
    margin-top: 1rem;
}

#signupButton{
    margin-top: 2rem;
}


/* Signup Section */
#signupForm {
  display: flex;
  overflow-x: hidden;
  min-width: 100vw;
}

#signupForm > form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

#passwordSection{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* New User Confirmation Section */

#confirmationSection{
    height: 80vh;
}
#confirmationSectionHeader{
    text-align: center;
}

#confirmationSection {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 2px solid red;
    /* padding: 1rem; */
    border-radius: 1rem;
    width: 80vw;
    /* height: fit-content; */
    /* max-height: 12.5em; */
    /* aspect-ratio: 4/3; */
    margin: auto;
    padding: 1em;
}

#confirmationSection > div{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border: 1px solid black;
    align-items: center;
}

#confirmationSection > div *{
font-size: clamp(8px, .7rem, 2rem);
}

#confirmationSection > div:nth-child(even) {
    background-color: rgb(151, 233, 151);
}

#confirmationSection > div > div, #confirmationSection > div > input {
    text-align: center;
}

#confirmationSection > button {
    width: fit-content;
    align-self: center;
    margin-top: 1rem;
    text-align: center;
}

#submitEditUserBtn{
    font-size: clamp(8px, .5rem, 2rem)!important;
    /* color: red; */
    /* background-color: blue; */
    /* padding: 1rem; */
    height: 1.1rem;
}

/* Singer Homepage Section */
#dateHeader{
    text-align: center;
    font-weight: bolder;
}
#commentsSection > p{
    min-height: 1rem;
    min-width: 10rem;
    border: 1px solid black;
}

.scheduleSlots, #availabilityHeadersRow, #toggleAllRow{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    border-bottom: 1px solid red;
}

#toggleAllLabel, #toggleAllPreferredLabel{
    display: flex;
    flex-direction: column;
}

.scheduleSlots:hover{
    background-color: rgb(0, 172, 0);
    color: white;
    cursor: pointer;
}

.availabilityCheckboxes:hover, .preferredTimeCheckboxes:hover{
    cursor: pointer;
    background-color: red;
}

#schedulecommentlabel{
    font-weight: bold;
    /* display: flex; */
    /* flex-direction: column; */
}
/* Administration Page */

#dateContentHeader{
    font-weight: bold;
    text-align: center;
}

#scheduleCommentInput{
    width: calc(100% - 2rem);
    margin: 1rem;
}

#biographySection{
    width: 100%;
    height: 4rem;
    border: 1px solid black;
}

#eventHeader{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.calendarHeaderDays{
    text-align: center;
    user-select: none;
}

.adminNotes{
    font-weight: normal;
    min-height: 1rem;
    margin: 0 1rem;
    /* width: calc(100% - 2rem); */
    padding: 0 .5rem 0 .5rem;
    border: 1px solid black;
    background-color: white;
}

.adminNotesLabels{
    grid-column: span 2;
        /* text-align: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.adminNotesLabels > button{
    grid-column: span 2;
    /* width: 5rem; */
    /* align-self: center; */
    /* align-self: center; */
}

#eventTable{
    display: inline;
    width: 80%;
    max-width: 80%;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.singerRows{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* width: 100%; */
}

.singerRows:hover{
    background-color: rgb(170, 170, 170);
    color: white;
    cursor: pointer!important;
}

#deleteTable {
    display: inline;
    width: 20%;
    max-width: 20%;
}

.deleteRows{
    text-align: center;
}

.events:nth-child(even) {
    background-color: green;
    /* background-color: rgb(204, 174, 3); */
    color: rgb(223, 223, 223);
}

.events:hover{
    text-shadow: 1px 1px black;
}

#backPanel{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-color: white;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

#eventWindow{
    z-index: 2;
    /* background-color: blue; */
    /* height: 100%; */
    /* width: 100%; */
    /* position: fixed; */
    top: 0;
}

#calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid black;
}

.blocks{
    border: 1px solid green;
    height: 3rem;
    cursor: pointer;
    /* background-color: black; */
    user-select: none;
}

.blocks:hover {
    background-color: gray!important;
    color: white!important;
}

.blocks:active{
    background-color: rgb(1, 99, 1);
}

#dateWindow{
    /* position: absolute; */
    /* position: fixed; */
    /* top: 0; */
    /* z-index: -1; */
    width: calc(100vw - 2rem);
    /* height: 100vh; */
    background-color: white;
}

.singerNames{
    width: 100%;
}


/* Singer Information Window */

#singerInformationWindow{
    width: calc(100% - 2rem);
    height: 100%;
    background-color: white;
}

.singerInformationSections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
    
}

.singerInformationSections > img, .singerInformationSections > div {
    height: auto;
    width: 100%;
}

.singerInformationSections > img {
    align-self: center;
}